### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [176]:
# Dependencies and Setup
import pandas as pd
#import sidetable

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head(20000)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
19995,19995,Mrs. Pam Lewis DVM,F,9th,Bailey High School,68,62,7,District,4976,3124928
19996,19996,Kelsey Harris,F,9th,Bailey High School,75,75,7,District,4976,3124928
19997,19997,Robert Mitchell,M,9th,Bailey High School,94,67,7,District,4976,3124928
19998,19998,Kelly Hopkins,F,9th,Bailey High School,96,58,7,District,4976,3124928
19999,19999,Misty Jacobs,F,12th,Bailey High School,71,66,7,District,4976,3124928

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [177]:
#calculate total # of schools
schoolCount = school_data_complete["school_name"].unique()
schoolCount = len(schoolCount)

print("District School Count:")
schoolCount

District School Count:

15

In [178]:
#caculate total # of students
studentCount = school_data_complete["Student ID"].unique()
studentCount = len(studentCount)

print("District Student Count:")
studentCount

District Student Count:

39170

In [179]:
#Calculate districtbudget. 

districtBudget = school_data_complete["budget"].sum()

print("District Budget:",districtBudget)

District Budget: 82932329558

In [180]:
#Caluclate average math score

average_math_score = school_data_complete["math_score"].mean()

print("District Math Score Average:",average_math_score)

District Math Score Average: 78.98537145774827

In [181]:
#Caluclate average reading score

average_reading_score = school_data_complete["reading_score"].mean()

print("District Reading Score Average:",average_reading_score)

District Reading Score Average: 81.87784018381414

In [182]:
#Calculate average math score
#Calculate average reading score

math_score = school_data_complete["math_score"].mean()
reading_score = school_data_complete["reading_score"].mean()

print("District Math Scores", math_score)
print("District Reading Scores", reading_score)

District Math Scores 78.98537145774827
District Reading Scores 81.87784018381414

In [183]:
# Calculate # and % studenst passing math, passing reading

studentCount = school_data_complete["Student ID"].unique()
studentCount = len(studentCount)
print("District Student count:", studentCount)

#Calculate # of students with a passing math score 
math_passing = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
print("District # passing math:",math_passing)

#Calculate # of students with a passing reading score 
reading_passing = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
print("District # passing reading:",reading_passing)

#Calculate % passing math, passing reading
percent_math_passing = (math_passing/studentCount)* 100
percent_reading_passing = (reading_passing/studentCount)* 100

print("District % passing math is", percent_math_passing)
print("District % passing reading is", percent_reading_passing)

District Student count: 39170
District # passing math: 29370
District # passing reading: 33610
District % passing math is 74.9808526933878
District % passing reading is 85.80546336482001

In [184]:
#Calculate % Overall Passing "Top Performing Schools"

overall_passing_average = school_data_complete[(school_data_complete["math_score"] >= 70) & 
                                               (school_data_complete["reading_score"] >= 70)]

overallPassingCount = overall_passing_average.groupby(["school_name"]).count()["student_name"]


per_school_count = school_data_complete["school_name"].value_counts()

percent_passing = overallPassingCount/per_school_count*100

#print(overallPassingCount)

#print(per_school_count)

print(percent_passing)

Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [185]:
#District Summary Directory (Table?)

district_summary = {"District School Count": schoolCount,
                    "District Student Count": studentCount,
                    "Total District Budget": districtBudget,
                    "District Average Math Score": average_math_score,
                    "District Average Reading Score": average_reading_score,
                    "District % Passing Math Scores": math_score,
                    "District % Passing Reading Scores": reading_score,
                    "District Overall Passing %'s":percent_passing}

#district_summary.head()

#create Data Frame from the summary table
district_summary_df = pd.DataFrame([district_summary])


#Create district summary list
#district_summary_list = district_summary.list[["Total Students", "Total Budget", "Average Math Score", "Average Reading Score",
                                           #"% Passing Math", "% Passing Reading", "% Overall Passing"]]
district_summary_df.head()

,District School Count,District Student Count,Total District Budget,District Average Math Score,District Average Reading Score,District % Passing Math Scores,District % Passing Reading Scores,District Overall Passing %'s
0,15,39170,82932329558,78.985371,81.87784,78.985371,81.87784,Bailey High School 54.642283 Cabrera Hig...

In [186]:
#District DataFrame

district_df_1 = pd.DataFrame(district_summary)
district_df_1

,District School Count,District Student Count,Total District Budget,District Average Math Score,District Average Reading Score,District % Passing Math Scores,District % Passing Reading Scores,District Overall Passing %'s
Bailey High School,15,39170,82932329558,78.985371,81.87784,78.985371,81.87784,54.642283
Cabrera High School,15,39170,82932329558,78.985371,81.87784,78.985371,81.87784,91.334769
Figueroa High School,15,39170,82932329558,78.985371,81.87784,78.985371,81.87784,53.204476
Ford High School,15,39170,82932329558,78.985371,81.87784,78.985371,81.87784,54.289887
Griffin High School,15,39170,82932329558,78.985371,81.87784,78.985371,81.87784,90.599455
Hernandez High School,15,39170,82932329558,78.985371,81.87784,78.985371,81.87784,53.527508
Holden High School,15,39170,82932329558,78.985371,81.87784,78.985371,81.87784,89.227166
Huang High School,15,39170,82932329558,78.985371,81.87784,78.985371,81.87784,53.513884
Johnson High School,15,39170,82932329558,78.985371,81.87784,78.985371,81.87784,53.539172
Pena High School,15,39170,82932329558,78.985371,81.87784,78.985371,81.87784,90.540541
Rodriguez High School,15,39170,82932329558,78.985371,81.87784,78.985371,81.87784,52.988247
Shelton High School,15,39170,82932329558,78.985371,81.87784,78.985371,81.87784,89.892107
Thomas High School,15,39170,82932329558,78.985371,81.87784,78.985371,81.87784,90.948012
Wilson High School,15,39170,82932329558,78.985371,81.87784,78.985371,81.87784,90.582567
Wright High School,15,39170,82932329558,78.985371,81.87784,78.985371,81.87784,90.333333

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [187]:
#Sort-Top five performing schools by % overall passing


percent_passing.sort_values(ascending= False)[:5]

#percent_passing.value_counts()
#5 best perfomring schools

Cabrera High School    91.334769
Thomas High School     90.948012
Griffin High School    90.599455
Wilson High School     90.582567
Pena High School       90.540541
dtype: float64

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [188]:
#Sort-Bottom five performing schools by % overall passing

percent_passing.sort_values()[:5]  

#5_worst_performing

Rodriguez High School    52.988247
Figueroa High School     53.204476
Huang High School        53.513884
Hernandez High School    53.527508
Johnson High School      53.539172
dtype: float64

In [189]:
#Cleanup formatting

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [190]:
# Dependencies and Setup
import pandas as pd
#import sidetable

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [191]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [238]:
#Calculate Total School Budget by school

grouped_schoolCount = school_data.groupby(['school_name']).count()
grouped_schoolCount

#grouped_school_budget = school_data_complete.groupby(["school_name"]).sum()

grouped_school_budget = school_data.groupby(["school_name"]).sum()["budget"]
grouped_school_budget

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [253]:
#Group school budget Per Student by school
#grouped_student_count = school_data.groupby(["student_ID"]).count()["school_name"]
#grouped_student_count

grouped_student_count = school_data_complete.groupby(["school_name"]).count()["student_name"]
grouped_student_count 

grouped_school_budget = school_data.groupby(["school_name"]).sum()["budget"]
grouped_school_budget

per_student_budget = grouped_school_budget/grouped_student_count
per_student_budget

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [194]:
#Average math score by school

grouped_school_math_score =school_data_complete.groupby(['school_name']).mean()["math_score"]
grouped_school_math_score

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [195]:
#Average reading score by school

grouped_school_reading_score =school_data_complete.groupby(['school_name']).mean()["reading_score"]
grouped_school_reading_score

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [196]:
#Average budget by school
grouped_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
grouped_school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [197]:
#Group schools by type

school_types = school_data.set_index(["school_name"])["type"]

grouped_school_type = school_data_complete.groupby(['school_name'])["type"]
grouped_school_type
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [258]:
#Group % Passing Math by School

#count of students by school
grouped_student_count = school_data_complete.groupby(['school_name']).count()["student_name"]
grouped_student_count 

#Calculate # of students with a passing math score 
passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math

#Calculate % passing math by school
grouped_passing_math = passing_math/grouped_student_count
grouped_passing_math

school_name
Bailey High School        5.902331
Cabrera High School      15.807320
Figueroa High School      9.959308
Ford High School         10.722892
Griffin High School      20.006812
Hernandez High School     6.336570
Holden High School       68.782201
Huang High School        10.068564
Johnson High School       6.168872
Pena High School         30.530146
Rodriguez High School     7.344336
Shelton High School      16.678024
Thomas High School       17.963303
Wilson High School       12.864652
Wright High School       16.316667
Name: student_name, dtype: float64

In [199]:
#Group % Passing Reading by School

#count of students by school
grouped_student_count = school_data_complete.groupby(['school_name']).count()["student_name"]
grouped_student_count 

#Calculate # of students with a passing math score 
passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading

grouped_passing_reading = passing_reading/grouped_student_count
grouped_passing_reading

school_name
Bailey High School        6.754421
Cabrera High School      18.089343
Figueroa High School     11.397084
Ford High School         12.270902
Griffin High School      22.895095
Hernandez High School     7.251348
Holden High School       78.711944
Huang High School        11.522112
Johnson High School       7.059441
Pena High School         34.937630
Rodriguez High School     8.404601
Shelton High School      19.085747
Thomas High School       20.556575
Wilson High School       14.721857
Wright High School       18.672222
Name: student_name, dtype: float64

In [232]:
#Group % Overall Passing by School
#Calculate % Overall Passing "Top Performing Schools"

overall_passing_average = school_data_complete[(school_data_complete["math_score"] >= 70) & 
                                               (school_data_complete["reading_score"] >= 70)]

overallPassingCount = overall_passing_average.groupby(["school_name"]).count()["student_name"]


per_school_count = school_data_complete["school_name"].value_counts()

percent_passing = overallPassingCount/per_school_count*100

percent_passing

Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

## Math Scores by Grade  
* Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [201]:
#Math Scores by Grade
#Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

In [256]:
#Average Math Scores by Grade
#ninth_graders.df = ninth_graders.pd.DataFrame[school_data_complete[(school_data_complete)]:

ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
ninth_graders

grouped_ninth_graders = ninth_graders.groupby(['school_name']).mean()["math_score"]
grouped_ninth_graders

#print(ninth_graders)

#tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]

tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
tenth_graders

grouped_tenth_graders = tenth_graders.groupby(['school_name']).mean()["math_score"]
grouped_tenth_graders 

#print(tenth_graders
     
#eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]

eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
eleventh_graders

grouped_eleventh_graders = eleventh_graders.groupby(['school_name']).mean()["math_score"]                                                              
grouped_eleventh_graders

#print(eleventh_graders)

#twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]
twelfth_graders

grouped_twelfth_graders = eleventh_graders.groupby(['school_name']).mean()["math_score"]
grouped_twelfth_graders

#print(twelfth_graders)

school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64

Reading Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

* Perform the same operations as above for reading scores

In [203]:
#Reading Scores by Grade

#Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

#Average Reading Scores by Grade
#ninth_graders.df = ninth_graders.pd.DataFrame[school_data_complete[(school_data_complete)]:

ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
ninth_graders

grouped_ninth_graders = ninth_graders.groupby(['school_name']).mean()["reading_score"]
grouped_ninth_graders

#print(ninth_graders)

#tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]

tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
tenth_graders

grouped_tenth_graders = tenth_graders.groupby(['school_name']).mean()["reading_score"]
grouped_tenth_graders 

#print(tenth_graders
     
#eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]

eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
eleventh_graders

grouped_eleventh_graders = eleventh_graders.groupby(['school_name']).mean()["reading_score"]                                                              
grouped_eleventh_graders

#print(eleventh_graders)

#twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]
twelfth_graders

grouped_twelfth_graders = eleventh_graders.groupby(['school_name']).mean()["reading_score"]
grouped_twelfth_graders

#print(twelfth_graders)

school_name
Bailey High School       80.945643
Cabrera High School      83.788382
Figueroa High School     80.640339
Ford High School         80.403642
Griffin High School      84.288089
Hernandez High School    81.396140
Holden High School       83.815534
Huang High School        81.417476
Johnson High School      80.616027
Pena High School         84.335938
Rodriguez High School    80.864811
Shelton High School      84.373786
Thomas High School       83.585542
Wilson High School       83.764608
Wright High School       84.156322
Name: reading_score, dtype: float64

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [270]:
#Scores by School Spending

school_score = score_score.pd.DataFrame[school_data_complete["math_score" + "reading_score"].sum()
                                        
#new_length = row[ ].split(" ")
#to split a string and put data into. Get length of 
                                        
#school_score

SyntaxError: unexpected EOF while parsing (<ipython-input-270-a52d62a3a13d>, line 6)

In [263]:
#Create table school performance by average spending

spending_bins = [0, 100, 500, 1000, 1500]
names=["<$100","$100 to $499","$500 to $999", "$1000 to $1500"]

SyntaxError: invalid syntax (<ipython-input-263-0293d4c57649>, line 22)

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
size_bins[0, 1000, 3000, 4000, 5000 ]
names = ["<1000", "1000 to 2999", "3000 to 3999", "4000 to 5000"]

## Scores by School Type

* Perform the same operations as above, based on school type

In [ ]:
type_bins[0, 30, 60, 90, 100]
names = ["0 to 29", "30 to 59", "60 to 89", "90 to 100"]

In [233]:
#Create Dataframe for all results 

school_summary = {"School Count": schoolCount,
                    "School Student Count": studentCount,
                    "School Total Budget": districtBudget,
                    "School Average Math Score": average_math_score,
                    "School Reading Score Average": average_reading_score,
                    "School % Passing Math Scores": math_score,
                    "School % Reading Scores": reading_score,
                    "School Overall Passing %'s":percent_passing,
                     }


#school_metrics_list = school_metrics.list[["School Name", "School Type", "Total Students", "Total Budget", "Per Student Budget",
                                         # "Average Math Score", "Average Reading Score", "% Overall Passing Score"]]
school_summary

In [215]:
#creating OVERVIEW TABLE that summarizes key metrics about each school: School Name, School Type, Total Students,
#Total Budget,Per Student Budget, Average Math Score, Average ReadingScore, % Passing Math, % Passing Reading, 
# % Overall Passing (both math and reading)

school_metrics = school_metrics.pd.DataFrame[school_data_complete[(school_data_complete)]

#creating school metrics series
school_metrics = {"School Type":school_types,
                  "Total Students":grouped_student_count,
                  "Total Budget":grouped_school_budget,
                  "Per Student Budget":grouped_budget_per_student,
                  "Average Math Score":grouped_school_math_score,
                  "Average Reading Score":grouped_school_reading_score,}
                  "% Passing Math": grouped_school_percent__passing_math,}
                  "% Passing Reading": grouped_school_percent_passing_reading,
                  "% Overall Passing": grouped_school_percent_passing_overall}


school_metrics_df.head()

SyntaxError: invalid syntax (<ipython-input-215-30034bd52efc>, line 8)